* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Article Author Section */

.article-author {
  display: flex;
  align-items: center;
}

.article-author .author-avatar {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.article-author .author-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article-author .author-info span {
  font-size: 13px;
}

.article-author .author-info .author-name {
  font-weight: 700;
  margin-bottom: 3px;
}

.article-author .author-info .date {
  font-weight: 500;
}

.article-author .share-icon {
  margin-left: auto;
  height: 30px;
}

i.fa.fa-apple {
  background: #f0f0f0;
  margin-right: 8px;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.article-mobile-share {
  display: none;
}

.article {
  height: 280px;
  max-width: 700px;
  display: flex;
  flex-direction: row;
}

/* Article Preview Section */

.article-preview {
  height: 280px;
  width: 290px;
  background: url("https://images.unsplash.com/photo-1591843336309-cbf414ad7978?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80g");
  background-size: cover;
  background-position: top center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  flex: 1;
}

/* Article Info Section */

.article-info {
  flex: 1.19;
  background: #ffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 40px;
  padding-right: 35px;
  padding-top: 25px;
  padding-bottom: 30px;
  position: relative;
}

.article-info h1 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.article-info p {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 20px;
  padding-right: 8px;
}

@media (max-width: 767px) {
  .article {
    height: 100%;
    height: 150%;
    display: flex;
    flex-direction: column;
  }

  .article-preview {
    width: 100%;
    height: 100%;
  }

  .article-info {
    width: 100%;
    height: 100%;
  }
}
